<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
</head>

<body>
    <h1>Add a Appointment</h1>
    <form action="/appointment" method="POST">
        <div>
            <label for="Appointment-name">Title</label>
            <input type="text" id="Appointment-name" name="appointmentName">
        </div>
        <div>
            <label for="doctor">Doctor</label>
            <input type="text" id="doctor" name="doctor">
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" id="date" name="date">
        </div>
        <div>
            <label for="time">Time</label>
            <input type="time" id="time" name="time">
        </div>
                 
        <button>Add appointment</button>
    </form>

</body>

</html>



